* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 30px 50px;
    width: 90%;
    border: 1px solid black;
}
.top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
    padding: 20px;
}
.view-highscores a {
    /* border: 1px solid blue; */
    display: block;
    text-decoration: none;
    color:rgb(168, 107, 209);
    font-weight: bolder;
}
.timer {
    display: block;
    font-weight: bolder;
    margin-right: 80px;
    min-width: 80px;

    border: 1px solid blue;
}
.quiz-section {
    display:flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 70%;
    align-items: center;
    margin: 0 13%;
}
#quiz-question {
    text-align: left;
}
.top-section {    /* same element as questionContainer */
    border: 1px solid brown;
    width: 80%;
    display: block;
    text-align:left;
    padding-bottom: 15px;
}
.introTitle {
    text-align: center;
}
.intro {
    text-align: center;
    margin: 10px 0;
}
.answer-choices {   /* same element as choiceContainer */
    border: 2px solid greenyellow;
    width: 80%;
    min-height: 70px;
}
ol {
    min-width: max-content;
}
li {
    list-style: inside;
    list-style-type: decimal;
    margin: 5px 0px;
    padding: 2px;
    list-style: none;
}
li button {
    background-color: rgb(44, 40, 54);
    color: white;
    min-width: 100px;
    /* width: auto; */
    /* width:max-content; */
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}
li button:focus {
    background-color: rgb(112, 67, 226);
}
.correct-wrong {
    border-top: 2px solid brown;
    width: 80%;
    text-align: left;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    font-style: italic;
}
.bottom-section {
    margin-top: 20px;
    border: 1px solid red;
    height: 50px;
}
.bottom-section button {
    text-align: center;
    color: white;
    background-color: rgb(44, 40, 54);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.bottom-section button:focus {
    background-color: rgb(112, 67, 226);
}
